build/Packager/Assets/Plugins
build/Packager/Library

plugins/Android/.classpath
plugins/Android/.project
plugins/Android/bin
plugins/Android/gen
plugins/Android/libs
plugins/Android/res
plugins/Android/local.properties
plugins/Android/proguard-project.txt

plugins/Mac/DerivedData
plugins/Mac/WebView.xcodeproj/project.xcworkspace/xcuserdata/
plugins/Mac/WebView.xcodeproj/xcuserdata/

filepath.json

