filepath.json

build/Packager/Assets/Plugins
build/Packager/Library

plugins/Android/.classpath
plugins/Android/.project
plugins/Android/bin
plugins/Android/gen
plugins/Android/libs
plugins/Android/res
plugins/Android/local.properties
plugins/Android/proguard-project.txt

plugins/Mac/DerivedData
plugins/Mac/WebView.xcodeproj/project.xcworkspace/xcuserdata/
plugins/Mac/WebView.xcodeproj/xcuserdata/

sample/Assets/Plugins
sample/Assets/Plugins.meta
sample/!Assets/Plugins/Android/AndroidManifest.xml
sample/!Assets/Plugins/Android/AndroidManifest.xml.meta
sample/Library
sample/Temp

