[submodule "webview.js"]
	path = webview.js
	url = git@github.com:yuya/unity-webview-plugin.git
	branch = gh-pages
[submodule "webview.min.js"]
	path = webview.min.js
	url = git@github.com:yuya/unity-webview-plugin.git
	branch = gh-pages
